ul{
  list-style-type: none;
  display: flex;
}
nav{
  height:10vh;
  background-color: #444;
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li{
  margin:0px 10px;
}
h1{
  color: #3AAFA9;
  font-weight: bold;
}

.hero{
  height:90vh;
  width: 50vw;
  background-image: url("https://i.ibb.co/7CQVJNm/blue-tank.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.ad{
  width:50vw;
  height:90vh;
  background-color: #ECF0F1;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.container{
  border-top:3px solid #3AAFA9;
  height: 13rem;
  width: 250px;
  
}
.ad h1{
  color:black;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.ad button{
  background-color: #3AAFA9;
  color:#fff;
  border: none;
  padding:10px;
  font-size: 1rem;
  cursor: pointer;
}

section{
  display: flex;
}