*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1{
  color:#444;
  font-size: 2.5rem;
  margin:1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.card{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin:0 auto;
  width:90vw;
}

img{
  height:280px;
  width:400px;
  border-radius: 5px;
}

.tour{
  display:flex;
  flex-direction: column;
  height:400px;
  width:400px;
  background-color: bisque;
  margin:10px;
  border-radius: 5px;

}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  color:#444;
  font-weight: bold;
}
.price{
  color:brown;
}

.btn{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px;
}

.btn button{
  color:brown;
  background-color: #fff;
  font-weight: bold;
  border:none;
  padding:10px;
  cursor: pointer;
  border-radius: 3px;
  border:2px solid brown;
}
