.form {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid #444;
}

.gif{
  background:#fff;
  position:absolute;
  top: 60px;
  right: 40vw;
  width: 300px;
  height: 300px;
  border: 3px solid #73AD21;
  overflow: scroll;
}

